.container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 1.6rem;
}

.background-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;

    background: url('../img/item-bkg.webp');
    background-size: cover;
    background-position: center;
}

.product-container {
    width: 100%;
    padding: 0 3.3rem;

    background: #ffffff;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 1) 90%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    padding: 0 3.3rem;
    
    background-color: #0B090B;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}