.search-bar {
    flex: 1;
    height: 4.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1.6rem;
    background: rgba(243, 243, 243, 0.1);
    border: 2px solid rgba(243, 243, 243, 0.4);
    border-radius: 0.4rem;
    transition: 0.2s ease-in-out;

    &:hover {
        border-color: rgba(243, 243, 243, 0.6);
    }

    &:focus-within {
        border-color: rgba(243, 243, 243, 0.6);
        background: rgba(243, 243, 243, 0.15);
    }

    & label {
        font-size: 2.4rem;
        color: rgba(243, 243, 243, 0.6);
        user-select: none;
    }

    & #search-input {
        outline: none;
        border: none;
        background: none;
        flex: 1;
        font-size: 1.6rem;
        color: rgba(243, 243, 243, 0.6);
        font-family: Kanit, Arial, Helvetica, sans-serif;
    }
}

.textInputWrapper {
    position: relative;
    margin: 1.2rem 0;

    &::before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    &::before,
    &::after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
    }

    &::after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid #FF9E00;
        border-bottom-color: #FF9E00;
    }

    &:focus-within::before {
        border-bottom: 1px solid #FF9E00;
        transform: scaleX(1);
    }

    &:focus-within::after {
        border-bottom: 2px solid #FF9E00;
        transform: scaleX(1);
    }

    & .textInput {
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
        max-height: 36px;
        background: #252525;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 200ms;
        transition-property: background-color;
        color: #e8e8e8;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        width: 100%;
        border-left: none;
        border-bottom: none;
        border-right: none;

        &::placeholder {
            transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            opacity: 1;
            user-select: none;
            color: rgba(255, 255, 255, 0.582);
        }
    
        &:-webkit-autofill{
            box-shadow: 0 0 0px 1000px #252525 inset !important;
            -webkit-text-fill-color: #e8e8e8 !important;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    &:focus-within .textInput,
    & .textInput:focus,
    & .textInput:active {
        background-color: #353535;
    }

    &:focus-within .textInput::placeholder {
        opacity: 0;
    }
}

.btn-group {
    display: flex;
    gap: 1.6rem;
    margin-top: 0.8rem;
}