#hero {
    width: 100%;
    height: 88rem;
    padding: 1.6rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background:
            linear-gradient(180deg, rgba(11, 9, 11, 0) 72.6%, #0B090B 100%),
            url('../img/hero-banner-background.webp') #d3d3d3 50% / cover no-repeat;
        opacity: 0.2;
    }

    & .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        & .btn {
            z-index: 2;
        }
    }
}