<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrinho - Loja Virtual</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="./assets/styles/style.css">
    <!-- <link rel="stylesheet" href="./assets/oldStyles/style.css">
    <link rel="stylesheet" href="./assets/oldStyles/header.css">
    <link rel="stylesheet" href="./assets/oldStyles/cart.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parisienne&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>
</head>

<body>

    <header id="header">
        <div class="container">
            <div class="navigation-bar">
                <div class="logo"></div>
                <nav>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./cardapio.html">Cardápio</a></li>
                        <li><a href="./create-product.html">Novo Produto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="actions">
                <a href="#" class="active">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
                <a href="./login.html">
                    <div class="user-profile">
                        <span class="material-symbols-outlined">person</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <main id="main">
        <article id="cart-container" class="container" ng-controller="CartController">
            <h2 class="title">Carrinho</h2>

            <div class="cart-item" ng-repeat="product in cart">
                <div class="cart-product-details">
                    <!-- <span ng-bind="product.id">id</span> -->
                    <p class="cart-product-name" ng-bind="product.name">Prato 1</p>
                    <p ng-bind="product.description">Descricao</p>
                    <p><span ng-bind="product.price | currency">10,00</span></p>
                </div>

                <div class="cart-actions">
                    <div class="cart-quantity-action">
                        <button class="qtd-modifier" ng-click="updateQuantity(product, 1)">+</button>

                        <span ng-bind="product.quantity">0</span>

                        <button class="qtd-modifier" ng-click="updateQuantity(product, -1)">-</button>
                    </div>

                    <span ng-click="remove(product)" class="material-symbols-outlined delete">delete</span>
                </div>
            </div>

            <div class="button-group" ng-show="!hasProducts">
                <button class="button" ng-click="returnCardapio()">Voltar ao Cardápio</button>
                <button class="button">Fazer Checkout</button>
            </div>

            <p class="no-items" ng-show="hasProducts">Nenhum item em seu carrinho</p>
        </article>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./assets/angular/script.js"></script>
    <script src="./assets/angular/services/auth.service.js"></script>
    <script src="./assets/angular/services/products.service.js"></script>
    <script src="./assets/angular/controllers/cart.controller.js"></script>
</body>

</html>