<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login - Loja Virtual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parisienne&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>
    
    <script>
        localStorage.clear('token');
    </script>
</head>

<body>
    <main id="main">
        <aside class="img-login">
            <!-- Imagem -->
        </aside>
        <article class="container" ng-controller="AuthController">
            <h2 class="title">Login</h2>
            <form id="user-form" class="form form-validate" ng-submit="send()">
                <div class="textInputWrapper input-group">
                    <!-- <label class="label" for="user-name">Nome</label> -->
                    <input ng-model="user.username" ng-required="true" id="user-name" class="textInput input"
                        type="text" placeholder="Nome de usuário">
                </div>
                <div class="textInputWrapper input-group">
                    <!-- <label class="label" for="user-password">Senha</label> -->
                    <input ng-model="user.password" ng-required="true" id="user-password" class="textInput input"
                        type="password" placeholder="Senha">
                </div>
                <div class="btn-group">
                    <button class="button" type="submit">Enviar</button>
                </div>
            </form>
        </article>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./assets/angular/script.js"></script>
    <script src="./assets/angular/services/auth.service.js"></script>
    <script src="./assets/angular/controllers/auth.controller.js"></script>
</body>

</html>