
article.container{

    & .product{
        margin-top: 2rem;
        background: #181519;
        border: 1px solid rgba(243, 243, 243, 0.2);
        border-radius: 0.8rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        h2{
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
        & p:first-of-type{
            margin-bottom: 1rem;
        }

        & .description{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & .config-product{
            display: flex;
            align-items: center;

            .quantity{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 3.4rem;
                
                & button, & span{
                    background: #2D2A2F;
                }
                & span{
                    width: 100%;
                    text-align: center;
                    padding: 0.5rem 0
                }

                .qtd-modifier{
                    width: 100%;
                    background: #2D2A2F;
                    border: none;
                    color: white;
                    font-size: 2rem;
                    padding: 1rem;
                    cursor: pointer;
                    border-radius: 0 0 1rem 1rem;
                    transition: 0.3s;

                    &:first-child{
                        border-radius: 1rem 1rem 0 0;
                    }

                    &:hover{
                        background: #4f4a52;
                    }
                    
                }
            }

            span.delete{
                padding: 0 1rem 0 calc(1.6rem + 1rem);
                color: #d34141;
                cursor: pointer;
                opacity: 0.5;
                transition: 0.3s
            }
            span.delete:hover{
                color: #ff0000;
                opacity: 1;
            }
        }
    }

    & .no-items{
        opacity: 0.5;
        text-align: center
    }
}

.buttons{
    /* width: 30%;
    display: flex
    flex-direction: column;
    padding: 0 6.5rem 0 3.5rem;
    gap: 1rem; */
    margin-top: 1.8rem;
    text-align: end; 
    

    .button-secondary {
        color: var(--c-primary);
        border: 0.2rem solid var(--c-brand-light);
        background-color: var(--c-brand-light);
        margin-right: 1rem;
    }
    .button::before {
        width: 52%;
        background-color: var(--c-brand-light);
    }
    
}