.filters {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 6.4rem;
}

.filters .icon-btn {
    background: rgba(243, 243, 243, 0.1);
    border: 2px solid rgba(243, 243, 243, 0.4);
    border-radius: 0.4rem;
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
}

.filters .icon-btn>span {
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(243, 243, 243, 0.6);
}

.search-bar {
    flex: 1;
    height: 4.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1.6rem;
    background: rgba(243, 243, 243, 0.1);
    border: 2px solid rgba(243, 243, 243, 0.4);
    border-radius: 0.4rem;
}

.search-bar>span {
    font-size: 2.4rem;
    color: rgba(243, 243, 243, 0.6);
}

.search-bar>input {
    font-size: 1.6rem;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    background: none;
    flex: 1;
    color: rgba(243, 243, 243, 0.6);
}

.dish-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, auto));
    gap: 3.2rem;
}

.dish-list .dish-item {
    background: #181519;
    border: 2px solid rgba(243, 243, 243, 0.2);
    border-radius: 0.8rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.dish-list .dish-item .dish-price {
    margin-top: auto;
    display: flex;
    gap: 0.4rem;
}