.dish-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, auto));
    gap: 3.2rem;
}

.dish-list .dish-item {
    background: #181519;
    border: 2px solid rgba(243, 243, 243, 0.2);
    border-radius: 0.8rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.dish-list .dish-item .dish-price {
    margin-top: auto;
    display: flex;
    gap: 0.4rem;
}