#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url('../img/itemBkg.jpg');
    background-size: cover;
    background-position: center;
}

article.container-product {
    width: 100%;
    margin: 0;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 1) 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3.3rem;
    color: var(--c-secondary)
}

section.product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .info-product{
        width: 60%;
        padding: 0 10rem 0 5.5rem;
    }
    .buttons{
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 0 6.5rem 0 3.5rem;
        gap: 1rem;

        .button-secondary {
            color: var(--c-primary);
            border: 0.2rem solid var(--c-brand-light);
            background-color: var(--c-brand-light);
        }
        .button::before {
            width: 52%;
            background-color: var(--c-brand-light);
        }
        
    }

    & .name-price{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h1{
            font-size: 4.6rem;
            font-weight: 600;
        }
        p{
            font-size: 3.8rem
        } 
    }

    & .description{
        margin-top: 2rem;
        background: #181519;
        border: 1px solid rgba(243, 243, 243, 0.2);
        border-radius: 0.8rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;

        h2{
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
    }
}