.hero-title {
  width: 50rem;
  font-family: Parisienne, Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  margin-bottom: 3.2rem;
  z-index: 2;
}
.hero-title span {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  letter-spacing: 1rem;
}

.hero-subtitle {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: rgba(243, 243, 243, 0.8);
  margin-bottom: 6.4rem;
  z-index: 2;
}
.hero-subtitle strong {
  font-weight: 600;
}

.title {
  font-family: Parisienne, Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1.6rem;
}

.lg-text {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.body-text {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.sm-text {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.6rem;
}

.btn {
  outline: none;
  border: none;
  background: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  transition: background 0.5s;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #FF8500;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  color: #0B090B;
  font-weight: 600;
  font-size: 2rem;
}
.btn-primary:hover {
  background: #FF9E00;
  color: #0B090B;
}

.button {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FF8500;
  text-decoration: none;
  background-color: transparent;
  border: 0.2rem solid #FF8500;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  background-color: #FF8500;
  border-radius: inherit;
  scale: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: -1;
}
.button:hover {
  color: #f3f3f3;
  scale: 1.1;
  box-shadow: 0 0 2rem rgba(193, 163, 98, 0.4);
}
.button:hover::before {
  scale: 2;
}
.button:active {
  scale: 1;
}

.icon-btn {
  background: rgba(243, 243, 243, 0.1);
  border: 2px solid rgba(243, 243, 243, 0.4);
  border-radius: 0.4rem;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.icon-btn:hover {
  border-color: rgba(243, 243, 243, 0.6);
}
.icon-btn:hover > span {
  color: rgba(243, 243, 243, 0.8);
}
.icon-btn:active {
  background: rgba(243, 243, 243, 0.15);
  border-color: rgba(243, 243, 243, 0.6);
}

.redirect {
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: #f3f3f3;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}
.redirect span {
  font-size: 2rem;
  user-select: none;
}

.redirect-primary {
  background: #FF8500;
  color: #0B090B;
}
.redirect-primary:hover {
  background: #FF9E00;
}

.redirect-secondary {
  background: #2D2A2F;
  color: #f3f3f3;
}
.redirect-secondary:hover {
  background: #403c42;
}

.search-bar {
  flex: 1;
  height: 4.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 1.6rem;
  background: rgba(243, 243, 243, 0.1);
  border: 2px solid rgba(243, 243, 243, 0.4);
  border-radius: 0.4rem;
  transition: 0.2s ease-in-out;
}
.search-bar:hover {
  border-color: rgba(243, 243, 243, 0.6);
}
.search-bar:focus-within {
  border-color: rgba(243, 243, 243, 0.6);
  background: rgba(243, 243, 243, 0.15);
}
.search-bar label {
  font-size: 2.4rem;
  color: rgba(243, 243, 243, 0.6);
  user-select: none;
}
.search-bar #search-input {
  outline: none;
  border: none;
  background: none;
  flex: 1;
  font-size: 1.6rem;
  color: rgba(243, 243, 243, 0.6);
  font-family: Kanit, Arial, Helvetica, sans-serif;
}

.textInputWrapper {
  position: relative;
  margin: 1.2rem 0;
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid #FF9E00;
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid #FF9E00;
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid #FF9E00;
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid #FF9E00;
  border-bottom-color: #FF9E00;
}

.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper input.textInput {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgba(35, 35, 35, 0.3);
  max-height: 36px;
  background: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.textInputWrapper input.textInput:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #252525 inset !important;
  -webkit-text-fill-color: #e8e8e8 !important;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #353535;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}

.btn-group {
  display: flex;
  gap: 1.6rem;
  margin-top: 0.8rem;
}

.card {
  height: 40rem;
  width: 32rem;
  min-width: 32rem;
  background: #181519;
  border-radius: 0.8rem;
  border: 2px solid rgba(243, 243, 243, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-align: center;
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.card:hover {
  opacity: 1;
}
.card .img {
  width: 100%;
  height: 100%;
  user-select: none;
}
.card .card-details {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  height: 100%;
}
.card .card-details .card-name {
  color: #f3f3f3;
  font-size: 2rem;
}
.card .card-details .card-description {
  color: rgba(243, 243, 243, 0.8);
  font-size: 1.6rem;
  overflow-wrap: break-word;
}
.card .card-details .redirect {
  position: absolute;
  bottom: 1.6rem;
}

.dish-item {
  background: #181519;
  border: 2px solid rgba(243, 243, 243, 0.2);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
}
.dish-item .dish-price {
  margin-top: auto;
  display: flex;
  gap: 0.4rem;
}

.filters {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.filters .icon-btn {
  background: rgba(243, 243, 243, 0.1);
  border: 2px solid rgba(243, 243, 243, 0.4);
  border-radius: 0.4rem;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.filters .icon-btn:hover {
  border-color: rgba(243, 243, 243, 0.6);
}

.filters .icon-btn:active {
  background: rgba(243, 243, 243, 0.15);
  border-color: rgba(243, 243, 243, 0.6);
}

.filters .icon-btn:hover > span {
  color: rgba(243, 243, 243, 0.8);
}

.filters .icon-btn > span {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(243, 243, 243, 0.6);
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 50rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(11, 9, 11, 0.8);
  border-bottom: 1px solid rgba(243, 243, 243, 0.2);
  backdrop-filter: blur(1px);
  z-index: 100;
}
#header > .container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header > .container nav > ul {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}
#header > .container nav a {
  font-weight: 400;
  color: #f3f3f3;
  opacity: 0.6;
  text-decoration: none;
}
#header > .container nav a.active {
  font-weight: 600;
  color: #f3f3f3;
  opacity: 0.8;
  text-decoration: underline;
}
#header > .container nav a.active span {
  opacity: 1;
}
#header > .container .logo {
  width: 6.4rem;
  height: 3.2rem;
  background: #E59627;
  border-radius: 1.6rem 0 1.6rem 0;
  opacity: 0.8;
}
#header > .container > .navigation-bar {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
#header > .container > .actions {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
#header > .container > .actions a {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
}
#header > .container > .actions a > span {
  position: absolute;
  font-size: 2.4rem;
  color: #F3F3F3;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
#header > .container > .actions .user-profile {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  background: rgba(243, 243, 243, 0.1);
  border-radius: 100%;
}
#header > .container > .actions .user-profile > span {
  position: absolute;
  font-size: 2.4rem;
  color: #F3F3F3;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

#hero {
  width: 100%;
  height: 88rem;
  padding: 1.6rem;
  position: relative;
}
#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(11, 9, 11, 0) 72.6%, #0B090B 100%), url("../img/texture.jpg") #d3d3d3 50%/cover no-repeat;
  opacity: 0.2;
}
#hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#hero .container .btn {
  z-index: 2;
}

.about-us {
  padding-top: 6.4rem;
}
.about-us .container {
  display: flex;
  gap: 9.6rem;
}
.about-us .content {
  width: 100%;
  margin: 6.4rem 0;
}
.about-us .img {
  width: 100%;
  max-width: 53.6rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  user-select: none;
}
.about-us .redirect {
  margin-top: 3.2rem;
}

.tools {
  margin-top: 6.4rem;
}
.tools .title {
  text-align: center;
  margin-bottom: 6.4rem;
}

.tools-list {
  display: flex;
  gap: 3.2rem;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  list-style: none;
}
.tools-list::-webkit-scrollbar {
  display: none;
}

.dish-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, auto));
  gap: 3.2rem;
}

.dish-actions {
  margin-bottom: 3.2rem;
}

.title + .filters {
  margin-bottom: 6.4rem;
}

#cart-container .title {
  margin-bottom: 3.2rem;
}

.cart-item {
  margin-top: 2rem;
  padding: 1.6rem;
  background: #181519;
  border: 1px solid rgba(243, 243, 243, 0.2);
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item .cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-item .cart-product-details .cart-product-name {
  font-weight: 600;
}
.cart-item .cart-actions {
  display: flex;
  align-items: center;
}
.cart-item .cart-actions .cart-quantity-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3.4rem;
}
.cart-item .cart-actions .cart-quantity-action button, .cart-item .cart-actions .cart-quantity-action span {
  background: #2D2A2F;
}
.cart-item .cart-actions .cart-quantity-action span {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}
.cart-item .cart-actions .cart-quantity-action .qtd-modifier {
  width: 100%;
  background: #2D2A2F;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0 0 1rem 1rem;
  transition: 0.3s;
}
.cart-item .cart-actions .cart-quantity-action .qtd-modifier:first-child {
  border-radius: 1rem 1rem 0 0;
}
.cart-item .cart-actions .cart-quantity-action .qtd-modifier:hover {
  background: #4f4a52;
}
.cart-item .cart-actions .delete {
  padding: 0 1rem 0 2.6rem;
  color: #d34141;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.cart-item .cart-actions .delete:hover {
  color: #ff0000;
  opacity: 1;
}
.cart-item .no-items {
  opacity: 0.5;
  text-align: center;
}

#cart-container .button-group {
  margin-top: 3.2rem;
  display: flex;
  gap: 1.6rem;
  justify-content: end;
}
#cart-container .button-group .button::before {
  width: 52%;
  background-color: #FF9E00;
}

#product-form {
  width: 40rem;
}
#product-form .btn-group .button {
  width: 100%;
}
#product-form .btn-group .button::before {
  width: 52%;
  background-color: #FF9E00;
}

.background-container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background: url("../img/itemBkg.jpg");
  background-size: cover;
  background-position: center;
}

.product-form-container {
  width: 100%;
  padding: 0 3.3rem;
  background: #ffffff;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgb(0, 0, 0) 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  background: #0B090B;
  color: #f3f3f3;
  overflow-x: hidden;
}

#main {
  margin: 12.8rem 0;
}