* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --c-primary: #121321;
    --c-secondary: #f3f3f3;
    --c-brand-dark: #FF6D00;
    --c-brand: #FF8500;
    --c-brand-light: #FF9E00;
    --c-accent-dark: #240046;
    --c-accent: #5A189A;
    --c-accent-light: #9D4EDD;
}

body {
    font-size: 1.6rem;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    background: #0B090B;
    color: #f3f3f3;
}

#main {
    margin: 12.8rem 0;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 1.6rem;
}

.container .title {
    margin-bottom: 3.2rem;
}

.btn {
    outline: none;
    border: none;
    background: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
    transition: background 0.5s;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background-color: #2b5fc0;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1e4ca3;
}

/* Buttons */
.button {
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--c-brand);
    border: 0.2rem solid var(--c-brand);
    border-radius: 1rem;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--c-brand);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 2;
}

.button:hover {
    color: var(--c-secondary);
    scale: 1.1;
    box-shadow: 0 0 2rem rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}