* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --c-primary: #121321;
    --c-secondary: #f3f3f3;
    --c-brand-dark: #FF6D00;
    --c-brand: #FF8500;
    --c-brand-light: #FF9E00;
    --c-accent-dark: #240046;
    --c-accent: #5A189A;
    --c-accent-light: #9D4EDD;
}

body {
    font-size: 1.6rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#main {
    margin-top: 6.4rem;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 1.6rem;
}

.container .title {
    margin-bottom: 3.2rem;
}

.btn {
    outline: none;
    border: none;
    background: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
    transition: background 0.5s;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background-color: #2b5fc0;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1e4ca3;
}