@import url('./card.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --c-primary: #121321;
    --c-secondary: #f3f3f3;
    --c-brand-dark: #FF6D00;
    --c-brand: #FF8500;
    --c-brand-light: #FF9E00;
    --c-accent-dark: #240046;
    --c-accent: #5A189A;
    --c-accent-light: #9D4EDD;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    background: #0B090B;
    color: #f3f3f3;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 88rem;
    padding: 1.6rem;
    position: relative;
}

.about-us .redirect {
    margin-top: 3.2rem;
}

.redirect {
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    color: #f3f3f3;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
    transition: 0.5s ease-in-out;
    font-weight: 600;
    cursor: pointer;
}

.redirect span {
    font-size: 2rem;
    user-select: none;
}

.redirect-primary {
    background: #E59627;
    color: #0B090B;
}

.redirect-secondary {
    background: #2D2A2F;
    color: #f3f3f3;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background:
        linear-gradient(180deg, rgba(11, 9, 11, 0) 72.6%, #0B090B 100%),
        url('../img/texture.jpg') #d3d3d3 50% / cover no-repeat;
    opacity: 0.2;
}

.hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero .main-title {
    font-family: Parisienne, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 6.4rem;
    width: 50rem;
    line-height: 100%;
    text-align: center;
    margin-bottom: 3.2rem;
    z-index: 2;
}

.hero .main-title span {
    font-family: Kanit, Arial, Helvetica, sans-serif;
    letter-spacing: 1rem;
}

.hero p {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(243, 243, 243, 0.8);
    margin-bottom: 6.4rem;
    line-height: 100%;
    z-index: 2;
}

.hero .btn {
    z-index: 2;
}

.hero p strong {
    font-weight: 600;
}

#main {
    margin: 12.8rem 0;
}

.main {
    margin-bottom: 12.8rem;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 1.6rem;
}

.container .title {
    margin-bottom: 3.2rem;
}

.about-us {
    padding-top: 6.4rem;
}

.about-us .container {
    display: flex;
    gap: 9.6rem;
}

.about-us .content {
    width: 100%;
    margin: 6.4rem 0;
}

.about-us .img {
    width: 100%;
    max-width: 53.6rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    user-select: none;
}

.about-us .title,
.tools .title {
    margin-bottom: 1.6rem;
    font-family: Parisienne, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 6.4rem;
}

.tools {
    margin-top: 6.4rem;
}

.tools .title {
    text-align: center;
    margin-bottom: 6.4rem;
}

.about-us p {
    font-size: 1.6rem;
    line-height: 150%;
}

.custom-title {
    font-family: Parisienne, Arial, Helvetica, sans-serif;
    font-size: 6.4rem;
    font-weight: 400;
    margin-bottom: 6.4rem;
}

.btn {
    outline: none;
    border: none;
    background: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
    transition: background 0.5s;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #E59627;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    color: #0B090B;
    font-weight: 600;
    font-size: 2rem;
}

/* Buttons */
.button {
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--c-brand);
    border: 0.2rem solid var(--c-brand);
    border-radius: 1rem;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--c-brand);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 2;
}

.button:hover {
    color: var(--c-secondary);
    scale: 1.1;
    box-shadow: 0 0 2rem rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}