.table {
    border-collapse: collapse;
    width: 100%;
    color: #0B090B;
}

.table th,
.table td {
    padding: 0.8rem;
    text-align: start;
    border: 1px solid #ddd;
}

.table th {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: #2b5fc0;
    color: #f3f3f3;
}

.table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table td.product-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 32rem;
}

.table th.product-id,
.table td.product-id {
    max-width: 3.2rem;
    text-align: center;
}